/* Header.css */
header {
  background-color: rgba(0, 0, 0, 0.7); /* Darken the background slightly */
  color: white;
  padding: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Center the 'Home' link */
}

nav ul li {
  margin: 0;
  display: inline; /* Hide all li elements in the nav bar */
}

nav ul li.home-link {
  display: block; /* Only display the 'Home' link in the nav bar */
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
